.swipeButtons {
  position: absolute;
  bottom: 10vh;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.swipeButtons .MuiIconButton-root {
  background-color: #fff;
  box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.3) !important;
}

.swipeButtons__repeat {
  padding: 1rem !important;
  color: #f5b748 !important;
}

.swipeButtons__left {
  padding: 1rem !important;
  color: #ec5e6f !important;
}

.swipeButtons__star {
  padding: 1rem !important;
  color: #62b4f9 !important;
}

.swipeButtons__right {
  padding: 1rem !important;
  color: #76e2b3 !important;
}

.swipeButtons__lightning {
  padding: 1rem !important;
  color: #915dd1 !important;
}